/* {
    border: 1px solid black;
} */

html {
    box-sizing: border-box;
    width: 100%;
   /* border: solid red 10px; */

    
}

#main-page{
background: linear-gradient(
    176deg,
    #A7E99C 30%,
    #8FE381 40%,
    #77DD66 30%
);
margin: 1px;
padding: 10px;
}
body ul{
    list-style-type: none;
    
}
.title {
    color: black;
    text-decoration: underline;
    font-weight: bolder;
    text-align: center;
}



p {
    text-align: center;
    color: purple;
    font-size: 25px;
    font-weight: bold;
    text-shadow: -1px 1px black;
}
div.img {
    padding: 20px;
    }


.sauces, .rubs, .bread, .meats{
    display: flex;
    flex-shrink: 1;
    justify-content: flex-start;
    align-items: center;
    border: 1px solid black; 
    text-align: center;
    margin-right: auto;
}

img{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    max-width: 200px;
    max-height: 100px;
    object-fit: cover;
    margin: 10px auto;
    padding: 1px;
    border: 1px solid black;   
}

a{
    color: black;
    text-decoration: solid;
    font-weight: bolder;
    margin-top: 5px;
}

 

  ul {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    gap: 50px;
  }
  
  li {
    display: inline-block;
    flex-grow: 1;
    text-align: center;
  }
  
  ul.sauces, ul.bread, ul.rubs, ul.meats {
    display: flex;
    justify-content: space-evenly;
    padding: 0;
    margin: 0;
  }
  
  ul.sauces li, ul.bread li, ul.rubs, ul.meats li{
    text-align: center;
    flex-grow: 1;
    margin: 0;
    padding: 0;
  }
  
  div.sauces, div.bread, div.rubs, div.meats{
    display: flex;
    justify-content: center;
    align-items: center;
  }